<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href={{ url_for('static', filename='styles/style.css') }}
    rel="StyleSheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <center><img src={{ url_for('static', filename='index.png') }} /></center>
    <input value="Continuar" type="button" onclick="location.href='/Mariachi'" />
  </body>
</html>
  </body>
</html>
  </body>
</html>
